<div id="landing-banner">
	<div id="expertise">
		<h1>James Russell Diefenderfer</h1>
		<p>A junior student at <strong>UC Berkeley</strong>, majoring in <strong>Electrical Engineering & Computer Science</strong></p>
		<p>Specializes in <strong>software engineering</strong> and <strong>full-stack web development</strong></p>
	</div>
</div>
 
<div class="container">
  <div class="row">
    <div class="span9">
      <div class="page-header page-header-condensed">
        <h2>Hello & Welcome!</h2>
      </div>
      <p>My name is James Diefenderfer and this site serves as a gallery of the programming projects that I've completed in the past few years. In the future, I plan to use it more for sharing details of my life and travels.</p>
      <p>I'm interested in summer internship opportunities in software engineering, preferably in the Bay Area. Most of my experience outside of school has been in web development, beginning with a school project where I created a precursor to this very site in 2nd grade. My personal curiosity, education at Berkeley, and past summer internships have all greatly helped in furthering my skills. I enjoy working on all aspects of my projects from user experience to the underlying data modeling and technologies used.</p>
      <p>Thanks for visiting, feel free to drop me a line anytime at <%= mail_to "jimmy@jimmydief.com", nil, :encode => :hex %>.</p>
      <!-- Paragraph about skills? -->
      <p>- Jimmy</p>
    </div>
    <div id="nav-boxes" class="span3">
      <ul>
        <li id="intro-portrait">
          <%= image_tag asset_path('/photos/portrait.jpg') %>
        </li>
        <%= link_to about_path do %>
          <li>About Me</li>
        <% end %>
        <%= link_to resume_path do %>
          <li>Resumé</li>
        <% end %>
        <%= link_to portfolio_path do %>
          <li>Portfolio</li>
        <% end %>
      </ul>
    </div>
  </div>
</div> <!-- /container -->